<app-header title="Document-Extraction::DNI-AR" subtitle="Extract Argentina ID Card information"></app-header>
<app-loader [isLoading]="loading"></app-loader>
<section id="response" *ngIf="step==2">
  <div class="url"><span class="method">POST</span> {{urlEndpoint}}</div>
  <code [class.error]="error">
        {{jsonResponse}}
  </code>

  <div class="responseProcessed" *ngIf="response">
    <div class="dataBlock">
      <label>Exception:</label>
      <div class="dataContent">
        <b *ngIf="response.exception">Yes</b>
        <b *ngIf="!response.exception">No</b>
      </div>
    </div>

    <div class="dataBlock">
      <label>MRZ Detected:</label>
      <div class="dataContent">
        <b *ngIf="response.mrzDetected">Yes</b>
        <b *ngIf="!response.mrzDetected">No</b>
      </div>
    </div>

    <div class="dataBlock">
      <label>PDF417 Detected:</label>
      <div class="dataContent">
        <b *ngIf="response.pdf417Detected">Yes</b>
        <b *ngIf="!response.pdf417Detected">No</b>
      </div>
    </div>

    <div class="dataBlock">
      <label>status:</label>
      <div class="dataContent">
        {{response.status}}
      </div>
    </div>

    <div class="dataBlock">
      <label>suggestedAction:</label>
      <div class="dataContent">
        {{response.suggestedAction}}
      </div>
    </div>

    <div class="dataBlock">
      <label>txId:</label>
      <div class="dataContent">
        {{response.txId}}
      </div>
    </div>
  </div>
  <div class="responses" *ngIf="response && response.documentInfo">
    <div class="responseProcessed">
      <div class="dataBlock">
        <label>Additional Info:</label>
        <div class="dataContent">
          {{response.additionalInfo}}
        </div>
      </div>
      <div class="dataBlock">
        <label>Document Info:</label>
        <div class="dataContent" style="display: block">
          Address: <b>{{response.documentInfo.address}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Address Confidence: <b>{{response.documentInfo.addressConfidence}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Code 1: <b>{{response.documentInfo.code1}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Code 2: <b>{{response.documentInfo.code2}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Date of Birth: <b>{{response.documentInfo.dateOfBirth.day}} / {{response.documentInfo.dateOfBirth.month}} /
            {{response.documentInfo.dateOfBirth.year}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Document Number: <b>{{response.documentInfo.documentNumber}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Document Type: <b>{{response.documentInfo.documentType}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Document Version: <b>{{response.documentInfo.documentVersion}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Expiration date: <b>{{response.documentInfo.expirationDate.day}}
            / {{response.documentInfo.expirationDate.month}}
            / {{response.documentInfo.expirationDate.year}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Given Names: <b>{{response.documentInfo.givenNames}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Issuing Country: <b>{{response.documentInfo.issuingCountry}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Issuing Date: <b>{{response.documentInfo.issuingDate.day}}
            / {{response.documentInfo.issuingDate.month}}
            / {{response.documentInfo.issuingDate.year}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Nationality: <b>{{response.documentInfo.nationality}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Order: <b>{{response.documentInfo.order}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Sequence: <b>{{response.documentInfo.sequence}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Sex: <b>{{response.documentInfo.sex}}</b>
        </div>
        <div class="dataContent" style="display: block">
          Surname: <b>{{response.documentInfo.surname}}</b>
        </div>
      </div>

      <div class="dataBlock">
        <label>Face:</label>
        <img [src]="'data:image/png;base64,'+response.documentInfo.face.image">
      </div>
      <div class="copy" (click)="copy()"><img src="assets/copy.png" /></div>
      <div class="dataBlock">
        <label>Face template:</label>
        <div class="dataTemplate" id="templateResponse">
          {{response.documentInfo.face.template}}
        </div>
      </div>

      <div class="dataBlock">
        <label>Valids:</label>
        <div class="dataContent" style="display: block">
          Composite:
          <b *ngIf="response.documentInfo.validComposite">Yes</b>
          <b *ngIf="!response.documentInfo.validComposite">No</b>
        </div>
        <div class="dataContent" style="display: block">
          Date of birth:
          <b *ngIf="response.documentInfo.validDateOfBirth">Yes</b>
          <b *ngIf="!response.documentInfo.validDateOfBirth">No</b>
        </div>
        <div class="dataContent" style="display: block">
          Document number:
          <b *ngIf="response.documentInfo.validDocumentNumber">Yes</b>
          <b *ngIf="!response.documentInfo.validDocumentNumber">No</b>
        </div>
        <div class="dataContent" style="display: block">
          Expiration date:
          <b *ngIf="response.documentInfo.validExpirationDate">Yes</b>
          <b *ngIf="!response.documentInfo.validExpirationDate">No</b>
        </div>
      </div>

    </div>
  </div>
  <button type="button" class="send" (click)="retry()">Retry</button>
</section>
<form *ngIf="step==1">
  <section>
    <div class="inputRow">
      <label>
        Audit Token
      </label>
      <input type="text" name="auditToken" [(ngModel)]="dto.auditToken">
    </div>
  </section>
  <section>
    <header>
      <h3>Images</h3>
    </header>
    <div class="inputRow">
      <label>
        Select back image file
      </label>
      <input type="file" accept="image/*" (change)="fileBackChange()" #fileBackInput>
      <img *ngIf="dto.backImage" [src]="'data:'+backDataType+';base64,'+dto.backImage" class="imagefile"
        (click)="dto.backImage = undefined" />
    </div>
    <div class="inputRow">
      <label>
        Select front image file
      </label>
      <input type="file" accept="image/*" (change)="fileFrontChange()" #fileFrontInput>
      <img *ngIf="dto.frontImage" [src]="'data:'+frontDataType+';base64,'+dto.frontImage" class="imagefile"
        (click)="dto.frontImage = undefined" />
    </div>
  </section>
  <section>
    <header>
      <h3>Params</h3>
    </header>
    <div class="inputRow">
      <label>
        Extract PDF417 info
      </label>
      <input type="checkbox" name="extractPDF417" checked="checked" [(ngModel)]="dto.params.extractPDF417">
    </div>
    <div class="inputRow">
      <label>
        Extract MRZ info
      </label>
      <input type="checkbox" name="extractMRZ" checked="checked" [(ngModel)]="dto.params.extractMRZ">
    </div>
    <div class="inputRow">
      <label>
        Extract face biometric info
      </label>
      <input type="checkbox" name="extractFace" checked="checked" [(ngModel)]="dto.params.extractFace">
    </div>
    <div class="inputRow">
      <label>
        Use cache (Cache input-output from succesive API calls)
      </label>
      <input type="checkbox" name="useCache" checked="checked" [(ngModel)]="dto.params.useCache">
    </div>
  </section>
  <section>
    <button type="button" class="send" (click)="send()">Send Data</button>
  </section>
</form>