<app-header title="Extraction" subtitle="Face video"></app-header>
<app-loader [isLoading]="loading"></app-loader>
<section id="response" *ngIf="step==2">
  <div class="url"><span class="method">POST</span> {{urlEndpoint}}</div>
  <code [class.error]="error">
    {{jsonResponse}}
  </code>
  <div class="responses" *ngIf="response">
    <div class="responseProcessed">
      <div class="dataBlock">
        <label>txID:</label>
        <div class="dataContent">
          {{response.txId}}
        </div>
      </div>
      <div class="dataBlock">
        <label>Status:</label>
        <div class="dataContent">
          {{response.status}}
        </div>
      </div>
      <div class="dataBlock">
        <label>Face image:</label>
        <img [src]="'data:image/png;base64,'+response.face.image">
      </div>
      <div class="dataBlock">
        <label>Template:</label>
        <div class="dataTemplate">
          {{response.face.template}}
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="send" (click)="retry()">Retry</button>
</section>
<form *ngIf="step==1">
  <section>
    <div class="inputRow">
      <label>
        Audit Token
      </label>
      <input type="text" name="auditToken" value="" [(ngModel)]="dto.auditToken">
    </div>
  </section>
  <section>
    <header>
      <h3>Params</h3>
    </header>
    <div class="inputRow">
      <label>
        Blink Sensibility
      </label>
      <input type="range" min="1" max="7" name="blinkSensibility" value="" [(ngModel)]="dto.params.blinkSensibility">
      {{dto.params.blinkSensibility/10}}
    </div>
    <div class="inputRow">
      <label>
        Detect Age
      </label>
      <input type="checkbox" name="detectAge" checked="checked" [(ngModel)]="dto.params.detectAge">
    </div>
    <div class="inputRow">
      <label>
        Detect Emotion
      </label>
      <input type="checkbox" name="detectEmotion" checked="checked" [(ngModel)]="dto.params.detectEmotion">
    </div>
    <div class="inputRow">
      <label>
        Detect Expression
      </label>
      <input type="checkbox" name="detectExpression" checked="checked" [(ngModel)]="dto.params.detectExpression">
    </div>
    <div class="inputRow">
      <label>
        Detect Gender
      </label>
      <input type="checkbox" name="detectGender" checked="checked" [(ngModel)]="dto.params.detectGender">
    </div>
    <div class="inputRow">
      <label>
        Detect Only Major Face
      </label>
      <input type="checkbox" name="detectOnlyMajorFace" checked="checked" [(ngModel)]="dto.params.detectOnlyMajorFace">
    </div>
    <div class="inputRow">
      <label>
        Detect Traits And Actions
      </label>
      <input type="checkbox" name="detectTraitsAndActions" checked="checked"
        [(ngModel)]="dto.params.detectTraitsAndActions">
    </div>
    <section>
      <header>
        <h4>Face Pose Sensibility</h4>
      </header>
      <div class="inputRow">
        <label>
          Looking Downwards Pitch Angle
        </label>
        <input type="range" min="-30" max="-5" name="lookingDownwardsPitchAngle"
          [(ngModel)]="dto.params.facePoseSensibility.lookingDownwardsPitchAngle">
        {{dto.params.facePoseSensibility.lookingDownwardsPitchAngle}}
      </div>
      <div class="inputRow">
        <label>
          Looking Front
        </label>
        <input type="range" min="1" max="20" name="lookingFront"
          [(ngModel)]="dto.params.facePoseSensibility.lookingFront"> {{dto.params.facePoseSensibility.lookingFront}}
      </div>
      <div class="inputRow">
        <label>
          Looking Left Yaw Angle
        </label>
        <input type="range" min="-60" max="-10" name="lookingLeftYawAngle"
          [(ngModel)]="dto.params.facePoseSensibility.lookingLeftYawAngle">
        {{dto.params.facePoseSensibility.lookingLeftYawAngle}}
      </div>
      <div class="inputRow">
        <label>
          Looking Right Yaw Angle
        </label>
        <input type="range" min="10" max="60" name="lookingRightYawAngle"
          [(ngModel)]="dto.params.facePoseSensibility.lookingRightYawAngle">
        {{dto.params.facePoseSensibility.lookingRightYawAngle}}
      </div>
      <div class="inputRow">
        <label>
          Looking Upwards Pitch Angle
        </label>
        <input type="range" min="5" max="25" name="lookingUpwardsPitchAngle"
          [(ngModel)]="dto.params.facePoseSensibility.lookingUpwardsPitchAngle">
        {{dto.params.facePoseSensibility.lookingUpwardsPitchAngle}}
      </div>
    </section>
    <div class="inputRow">
      <label>
        Max Clahe
      </label>
      <input type="range" min="5" max="15" name="maxCLAHE" [(ngModel)]="dto.params.maxCLAHE"> {{dto.params.maxCLAHE}}
    </div>
    <div class="inputRow">
      <label>
        Max Roll
      </label>
      <input type="range" min="0" max="180" name="maxRoll" [(ngModel)]="dto.params.maxRoll"> {{dto.params.maxRoll}}
    </div>
    <div class="inputRow">
      <label>
        Max Yaw
      </label>
      <input type="range" min="0" max="90" name="maxYaw" [(ngModel)]="dto.params.maxYaw"> {{dto.params.maxYaw}}
    </div>
    <div class="inputRow">
      <label>
        Min Clahe
      </label>
      <input type="range" min="0" max="5" name="minCLAHE" [(ngModel)]="dto.params.minCLAHE"> {{dto.params.minCLAHE}}
    </div>
    <div class="inputRow">
      <label>
        Min Confidence
      </label>
      <input type="range" min="0" max="100" name="minConfidence" [(ngModel)]="dto.params.minConfidence">
      {{dto.params.minConfidence}}
    </div>
    <div class="inputRow">
      <label>
        Min IOD
      </label>
      <input type="range" min="8" max="1024" name="minIOD" [(ngModel)]="dto.params.minIOD"> {{dto.params.minIOD}}
    </div>
    <div class="inputRow">
      <label>
        Min Quality
      </label>
      <input type="range" min="0" max="100" name="minQuality" [(ngModel)]="dto.params.minQuality">
      {{dto.params.minQuality}}
    </div>
    <div class="inputRow">
      <label>
        Scale H
      </label>
      <input type="range" min="0" max="2" name="scaleH" [(ngModel)]="dto.params.scaleH"> {{dto.params.scaleH}}
    </div>
    <div class="inputRow">
      <label>
        Thumbnail Width
      </label>
      <input type="range" min="24" max="512" name="thumbnailWidth" [(ngModel)]="dto.params.thumbnailWidth">
      {{dto.params.thumbnailWidth}}
    </div>
    <div class="inputRow">
      <label>
        Use CLAHE
      </label>
      <input type="checkbox" name="useCLAHE" [(ngModel)]="dto.params.useCLAHE">
    </div>
    <div class="inputRow">
      <label>
        Use Cache
      </label>
      <input type="checkbox" name="useCache" [(ngModel)]="dto.params.useCache">
    </div>
    <div class="inputRow">
      <label>
        Video Frames Seq
      </label>
      <input type="range" min="1" max="5" name="videoFramesSeq" [(ngModel)]="dto.params.videoFramesSeq">
      {{dto.params.videoFramesSeq}}
    </div>
  </section>
  <section>
    <header>
      <h3>Video</h3>
    </header>
    <div class="inputRow">
      <label>
        Select video file
      </label>
      <input type="file" value="" accept="video/*" (change)="fileChange()" #fileInput> <!-- [(ngModel)]="dto.image" -->
      <div class="videoWrapper" *ngIf="dto.video">
        <div class="cross" (click)="dto.video = undefined">X</div>
        <video controls>
          <source [type]="dataType" [src]="'data:'+dataType+';base64,'+dto.video" />
        </video>
      </div>
    </div>
  </section>
  <section>
    <button type="button" class="send" (click)="send()">Send Data</button>
  </section>
</form>