
.videoWrapper
    display: inline-block
    width: 35%
    position: relative
    video
        width: 100%
        margin-left: 10px
    .cross
        position: absolute
        right: -10px
        top: 1px
        background: #ca0000
        color: white
        width: 20px
        height: 20px
        text-align: center
        font-family: helvetica
        cursor: pointer
        z-index: 2
        border-radius: 0px 0px 0px 5px
        line-height: 20px
.dataTagBlock 
    display: inline-block
    padding: 3px
    background: #fff6e4
    border-radius: 5px
    margin: 5px
    font-family: helvetica
    text-transform: uppercase
    font-size: 12px
.navTab
    .tabTitle 
        .tabChange
            display: inline-block
            width: 100px
            text-align: center
            padding: 5px
            background: #e8e8e8
            border-radius: 5px 5px 0px 0px
            margin-right: 7px
            cursor: pointer
            &.active
                background: #fdfdfd
    .tab 
        background: #fdfdfd
        width: 100%
        padding: 10px
        .point 
            position: absolute
            width: 4px
            height: 4px
            background: red
            cursor: pointer
            span.label 
                background: #0000007a
                width: 65px
                text-align: center
                margin-top: -30px
                margin-left: 15px
                font-size: 14px
                border-radius: 5px
                color: white
                z-index: 1
                display: none
                position: relative
            &:hover
                span.label
                    display: block
