.imagefile
    max-width: 150px
    max-height: 150px
    cursor: crosshair
.dataTagBlock 
    display: inline-block
    padding: 3px
    background: #fff6e4
    border-radius: 5px
    margin: 5px
    font-family: helvetica
    text-transform: uppercase
    font-size: 12px