<app-header title="Extraction" subtitle="Face image"></app-header>
<app-loader [isLoading]="loading"></app-loader>

<section id="response" *ngIf="step==2">
    <code>
        {{jsonResponse}}
    </code>
    <div class="responses" *ngIf="response && response.extractedFaces">
        <div class="responseProcessed">
            <div class="dataBlock">
                <label>TxId:</label>
                <div>
                    {{response.txId}}
                </div>
            </div>
        </div>
        <div class="responseProcessed" *ngFor="let face of response.extractedFaces">
            <div class="dataBlock">
                <label>Status:</label>
                <div>
                    {{face.status}}
                </div>
            </div>
            <div class="dataBlock">
                <label>Image:</label>
                <img [src]="face.face.image">
            </div>
            <div class="dataBlock">
                <label>Template:</label>
                <div>
                    {{face.face.template}}
                </div>
            </div>
        </div>
    </div>
</section>

<form *ngIf="step==1">
    <section>
        <div class="inputRow">
            <label>
                Audit Token
            </label>
            <input type="text" name="auditToken" value="" [(ngModel)]="dto.auditToken">
        </div>
    </section>
    <section>
        <header>
            <h3>Params</h3>
        </header>
        <div class="inputRow">
            <label>
                Blink Sensibility
            </label>
            <input type="number" name="blinkSensibility" value="" [(ngModel)]="dto.params.blinkSensibility">
        </div>
        <div class="inputRow">
            <label>
                Detect Age
            </label>
            <input type="checkbox" name="detectAge" checked="checked" [(ngModel)]="dto.params.detectAge">
        </div>
        <div class="inputRow">
            <label>
                Detect Emotion
            </label>
            <input type="checkbox" name="detectEmotion" checked="checked" [(ngModel)]="dto.params.detectEmotion">
        </div>
        <div class="inputRow">
            <label>
                Detect Expression
            </label>
            <input type="checkbox" name="detectExpression" checked="checked" [(ngModel)]="dto.params.detectExpression">
        </div>
        <div class="inputRow">
            <label>
                Detect Gender
            </label>
            <input type="checkbox" name="detectGender" checked="checked" [(ngModel)]="dto.params.detectGender">
        </div>
        <div class="inputRow">
            <label>
                Detect Only Major Face
            </label>
            <input type="checkbox" name="detectOnlyMajorFace" checked="checked"
                [(ngModel)]="dto.params.detectOnlyMajorFace">
        </div>
        <div class="inputRow">
            <label>
                Detect Traits And Actions
            </label>
            <input type="checkbox" name="detectTraitsAndActions" checked="checked"
                [(ngModel)]="dto.params.detectTraitsAndActions">
        </div>
        <section>
            <header>
                <h4>Face Pose Sensibility</h4>
            </header>
            <div class="inputRow">
                <label>
                    Looking Downwards Pitch Angle
                </label>
                <input type="number" name="lookingDownwardsPitchAngle"
                    [(ngModel)]="dto.params.facePoseSensibility.lookingDownwardsPitchAngle">
            </div>
            <div class="inputRow">
                <label>
                    Looking Front
                </label>
                <input type="number" name="lookingFront" [(ngModel)]="dto.params.facePoseSensibility.lookingFront">
            </div>
            <div class="inputRow">
                <label>
                    Looking Left Yaw Angle
                </label>
                <input type="number" name="lookingLeftYawAngle"
                    [(ngModel)]="dto.params.facePoseSensibility.lookingLeftYawAngle">
            </div>
            <div class="inputRow">
                <label>
                    Looking Right Yaw Angle
                </label>
                <input type="number" name="lookingRightYawAngle"
                    [(ngModel)]="dto.params.facePoseSensibility.lookingRightYawAngle">
            </div>
            <div class="inputRow">
                <label>
                    Looking Upwards Pitch Angle
                </label>
                <input type="number" name="lookingUpwardsPitchAngle"
                    [(ngModel)]="dto.params.facePoseSensibility.lookingUpwardsPitchAngle">
            </div>
        </section>
        <div class="inputRow">
            <label>
                Max Clahe
            </label>
            <input type="number" name="maxCLAHE" value="" [(ngModel)]="dto.params.maxCLAHE">
        </div>
        <div class="inputRow">
            <label>
                Max Roll
            </label>
            <input type="number" name="maxRoll" value="" [(ngModel)]="dto.params.maxRoll">
        </div>
        <div class="inputRow">
            <label>
                Max Yaw
            </label>
            <input type="number" name="maxYaw" value="" [(ngModel)]="dto.params.maxYaw">
        </div>
        <div class="inputRow">
            <label>
                Min Clahe
            </label>
            <input type="number" name="minCLAHE" value="" [(ngModel)]="dto.params.minCLAHE">
        </div>
        <div class="inputRow">
            <label>
                Min Confidence
            </label>
            <input type="number" name="minConfidence" value="" [(ngModel)]="dto.params.minConfidence">
        </div>
        <div class="inputRow">
            <label>
                Min IOD
            </label>
            <input type="number" name="minIOD" value="" [(ngModel)]="dto.params.minIOD">
        </div>
        <div class="inputRow">
            <label>
                Min Quality
            </label>
            <input type="number" name="minQuality" value="" [(ngModel)]="dto.params.minQuality">
        </div>
        <div class="inputRow">
            <label>
                Scale H
            </label>
            <input type="number" name="scaleH" value="" [(ngModel)]="dto.params.scaleH">
        </div>
        <div class="inputRow">
            <label>
                Thumbnail Width
            </label>
            <input type="number" name="thumbnailWidth" value="" [(ngModel)]="dto.params.thumbnailWidth">
        </div>
        <div class="inputRow">
            <label>
                Use CLAHE
            </label>
            <input type="checkbox" name="useCLAHE" [(ngModel)]="dto.params.useCLAHE">
        </div>
        <div class="inputRow">
            <label>
                Use Cache
            </label>
            <input type="checkbox" name="useCache" [(ngModel)]="dto.params.useCache">
        </div>
        <div class="inputRow">
            <label>
                Video Frames Seq
            </label>
            <input type="number" value="" name="videoFramesSeq" [(ngModel)]="dto.params.videoFramesSeq">
        </div>
    </section>
    <section>
        <header>
            <h3>Image</h3>
        </header>
        <div class="inputRow">
            <label>
                Select image file
            </label>
            <input type="file" value="" accept="image/*" (change)="fileChange()" #fileInput>
        </div>
    </section>
    <section>
        <button type="button" class="send" (click)="send()">Send Data</button>
    </section>
</form>