<app-header title="Extraction" subtitle="Face image"></app-header>
<form>
    <section>
        <div class="inputRow">
            <label>
                Audit Token
            </label>
            <input type="text" value="">
        </div>
    </section>
    <section>
        <header>
            <h3>Params</h3>
        </header>
        <div class="inputRow">
            <label>
                Blink Sensibility
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Detect Age
            </label>
            <input type="checkbox" checked="checked">
        </div>
        <div class="inputRow">
            <label>
                Detect Emotion
            </label>
            <input type="checkbox" checked="checked">
        </div>
        <div class="inputRow">
            <label>
                Detect Expression
            </label>
            <input type="checkbox" checked="checked">
        </div>
        <div class="inputRow">
            <label>
                Detect Gender
            </label>
            <input type="checkbox" checked="checked">
        </div>
        <div class="inputRow">
            <label>
                Detect Only Major Face
            </label>
            <input type="checkbox" checked="checked">
        </div>
        <div class="inputRow">
            <label>
                Detect Traits And Actions
            </label>
            <input type="checkbox" checked="checked">
        </div>
        <section>
            <header>
                <h4>Face Pose Sensibility</h4>
            </header>
            <div class="inputRow">
                <label>
                    Looking Downwards Pitch Angle
                </label>
                <input type="number">
            </div>
            <div class="inputRow">
                <label>
                    Looking Front
                </label>
                <input type="number">
            </div>
            <div class="inputRow">
                <label>
                    Looking Left Yaw Angle
                </label>
                <input type="number">
            </div>
            <div class="inputRow">
                <label>
                    Looking Right Yaw Angle
                </label>
                <input type="number">
            </div>
            <div class="inputRow">
                <label>
                    Looking Upwards Pitch Angle
                </label>
                <input type="number">
            </div>
        </section>
        <div class="inputRow">
            <label>
                Max Clahe
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Max Roll
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Max Yaw
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Min Clahe
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Min Confidence
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Min IOD
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Min Quality
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Scale H
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Thumbnail Width
            </label>
            <input type="number" value="">
        </div>
        <div class="inputRow">
            <label>
                Use CLAHE
            </label>
            <input type="checkbox">
        </div>
        <div class="inputRow">
            <label>
                Use Cache
            </label>
            <input type="checkbox">
        </div>
        <div class="inputRow">
            <label>
                Video Frames Seq
            </label>
            <input type="number" value="">
        </div>
    </section>
    <section>
        <header>
            <h3>Image</h3>
        </header>
        <div class="inputRow">
            <label>
                Select image file
            </label>
            <input type="file" value="" accept="image/*">
        </div>
    </section>
</form>