<div class="logo">
  <img src="assets/logo.png" />
</div>
<nav>
  <h2>Playground SOBIO</h2>
  <ul>
    <li class="disabled">Audit rest ap iv 1</li>
    <li class="disabled">BIO rest ap iv 1</li>
    <li class="disabled">Extract Document Information AP iv 1</li>
    <li class="disabled">AUDIT</li>
    <li>
      <a class="deployable" (click)="deployar(5)" [class.opened]="deployados[5]">EXTRACTION</a>
      <ul *ngIf="deployados[5]">
        <li class="disabled"><a href="">concat audio stream</a></li>
        <li><a routerLink="extraction/extract-face-image" routerLinkActive="active">extract face image</a></li>
        <li><a routerLink="extraction/extract-face-video" routerLinkActive="active">extract face video</a></li>
        <li class="disabled"><a href="">extract fingerprint image</a></li>
        <li class="disabled"><a href="">extract text dependent voice</a></li>
        <li class="disabled"><a href="">extract text independent voice</a></li>
      </ul>
    </li>
    <li>
        <a class="deployable" (click)="deployar(6)" [class.opened]="deployados[6]">DATABASE</a>
      <ul *ngIf="deployados[6]">
        <li><a routerLink="database/by-subject" routerLinkActive="active">By Subject</a></li>
        <li><a routerLink="database/enroll" routerLinkActive="active">Enroll</a></li>
        <li><a routerLink="database/list" routerLinkActive="active">List</a></li>
        <li class="disabled"><a href="">Update</a></li>
      </ul>
    </li>
    <li>
      <a class="deployable" (click)="deployar(7)" [class.opened]="deployados[7]">MATCHING</a>
      <ul *ngIf="deployados[7]">
        <li><a routerLink="matching/identify" routerLinkActive="active">Identify</a></li>
        <li><a routerLink="matching/verify" routerLinkActive="active">Verify</a></li>
        <li><a routerLink="matching/verify-t2t" routerLinkActive="active">Verify t2t</a></li>
      </ul>
    </li>
    <li>
      <a class="deployable" (click)="deployar(8)" [class.opened]="deployados[8]">DOCUMENT EXTRACTION</a>
      <ul *ngIf="deployados[8]">
        <li><a routerLink="document-extraction/dni-ar" routerLinkActive="active">DNI Ar</a></li>
      </ul>
    </li>
  </ul>
</nav>