form {
    margin: 0px 15px;
    display: block;
    border: 2px solid #e6ecf0;
    padding: 15px;
    border-radius: 13px;
    section {
        border-bottom: 2px solid #f3f5f8;
        h3, h4 {
            font-family: helvetica;
            color: gray;
            text-transform: uppercase;
        }
        > section {
            h4 {
                padding-left: 10px;
            }
            header {
                position: relative;
                .buttonRights {
                    position: absolute;
                    right: 10px;
                    top: -1px;
                }
            }
            border-bottom: 0px;
            border: 1px solid #e6ecf0;
            border-left: 5px solid #e6ecf0;
        }
        .inputRow {
            margin: 10px 0px;
            label {
                width: 25%;
                display: inline-block;
                text-align: right;
                margin-right: 5px;
                font-family: helvetica;
                text-transform: uppercase;
                font-size: 13px;
                color: gray;
                vertical-align: middle;
            }
        }
        &:last-child {
            border-bottom: 0px;
        }
        .composedBlock {
            background: #f9fafc;
            margin: 5px;
            padding: 5px 0px;
            position: relative;
        }
    }
    height: calc(100% - 160px);
    overflow-y: scroll;
    input[type=text], input[type=number], textarea{
        width: 200px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ebeff3;
        vertical-align: middle;
        &:hover, &:focus{
            outline: none;
            border: 1px solid #aae3ff;
        }
    }
    button {
        background: transparent;
        font-family: helvetica;
        font-size: 16px;
        width: 250px;
        border: 1px solid #7bd3ff;
        padding: 10px;
        border-radius: 5px;
        display: block;
        margin: 15px auto;
        color: #7bd3ff;
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
        transition: color 0.2s, background-color 0.2s;
        &.rightButton{
            position: absolute;
            width: 30px;
            height: 30px;
            right: 7px;
            margin: 0px;
            top: 6px;
            padding: 0px;
        }
        &:hover, &:active, &:focus {
            color: white;
            background-color: #7bd3ff;
            outline: none;
        }
        &.red{
            border: 1px solid #ff7b7b;
            color: #ff7b7b;
            &:hover, &:active, &:focus {
                color: white;
                background-color: #ff7b7b;
            }
        }
        &.inline {
            margin: 15px 5px;
            display: inline-block;
        }
    }
}