#response {
    max-height: calc(100% - 140px);
    overflow: auto;

    .url {
        display: block;
        margin: 15px;
        padding: 5px;
        background: #f9fafc;
        border: 1px solid gray;
        font-family: helvetica;
        font-weight: 100;
        color: gray;
        span {
            font-weight: bold;
        }
    }

    code {
        display: block;
        margin: 15px;
        background: #e4f7e4;
        border: 1px solid #b0d2b0;
        padding: 10px;
        position: relative;
        margin-top: 20px;
        overflow: auto;
        &:after{
            content: 'Response Body';
            display: block;
            position: absolute;
            top: -20px;
            left: 3px;
            font-family: helvetica;
            font-size: 10px;
            border: 1px solid #b0d2b0;
            border-bottom: 0px;
            padding: 3px;
            background-color: #fbfbfb;
        }
        &.error {
            background: #f7e4e4;
            border: 1px solid #d2b0b0;
            &:after{
                border: 1px solid #d2b0b0;
            }
        }
       
    }

    .responseProcessed {
        display: block;
        margin: 15px;
        background: #f3f3f3;
        border: 1px solid #cecece;
        padding: 10px;
        position: relative;
        margin-top: 40px;
        &:after{
            content: 'Response Processed';
            display: block;
            position: absolute;
            top: -20px;
            left: 3px;
            font-family: helvetica;
            font-size: 10px;
            border: 1px solid #cecece;
            border-bottom: 0px;
            padding: 3px;
            background-color: white;
        }
        label {
            font-weight: bolder;
            display: inline-block;
            text-align: right;
            margin-right: 15px;
            vertical-align: middle;
        }
        .dataContent {
            display: inline-block;
        }
        .dataTemplate {
            width: calc(100% - 16px);
            height: 200px;
            overflow: auto;
            background: white;
            padding: 8px;
            word-wrap: break-word;
        }
        img {
            width: 100px;
            border-radius: 30px;
            vertical-align: middle;
        }
        .copy {
            width: 100%;
            position: relative;
            img {
                width: 30px;
                position: absolute;
                right: 20px;
                top: -5px;
                background: white;
                border-radius: 4px;
                box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
        }
    }

    button {
        margin: 0 auto;
        display: block;
        border: 1px solid #b0d2b0;
        font-family: helvetica;
        border-radius: 5px;
        text-transform: uppercase;
        color: #b0d2b0;
        cursor: pointer;
        font-size: 16px;
        width: 250px;
        padding: 10px;
        &:hover {
            color: white;
            background: #b0d2b0;
        }
    }
}